name: ENV_variables

on: push
env: 
  WF_ENV: ${{secrets.WF_ENV}} #encrypting a secret

jobs:
  create_issue:
    runs-on: ubuntu-latest
    permissions:
      issues: write 
    steps:
      - name: Create issue using REST API
        run: |
          curl --request POST \
          --url https://api.github.com/repos/${{ github.repository }}/issues \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          --header 'content-type: application/json' \
          --data '{
            "title": "Automated issue for commit: ${{ github.sha }}",
            "body": "This issue was automatically created by the GitHub Action workflow **${{ github.workflow }}**. \n\n The commit hash was: _${{ github.sha }}_."
            }' \
  log-env:
    runs-on: ubuntu-latest
    env: 
      JOB_ENV: public var
    steps:
      - name: PUB_ENV_var
        env: 
          STEP_ENV: Step var
        run: |
          echo "${WF_ENV}"
          echo "${Job_Env}"
          echo "${STEP_ENV}"
          
      
          
      
        